<div class="col" *ngIf="!show1">
  <a [routerLink]="['/']" class="btn btn-primary" role="button"
    >Go back to main page</a
  >

  <br />
  <br />
  <div class="col">
    <h6>{{ show?.title }}</h6>

    <br />

    <img
      (click)="changeStatusOfPage(); timeCounterFunction(show)"
      style="position:absolute;top: 110px;
      left: 95px;"
      src="http://clipart-library.com/images/8iGb5obaT.png"
      width="30"
      height="30"
    />
    <img
      (click)="changeStatusOfPage(); timeCounterFunction(show)"
      src="http://img.youtube.com/vi/{{ show?.url }}/0.jpg"
      width="200"
      height="150"
    />

    <br />
    <br />
    <button
      class="btn-success"
      *ngIf="!show?.favoriteStatus"
      (click)="changeStatusOn(show)"
    >
      Add to favorite
    </button>
    <button
      class="btn-success"
      *ngIf="show?.favoriteStatus"
      (click)="changeStatusOf(show)"
    >
      Remove from favorite
    </button>
    <br />
    <br />
    <h6>Director: {{ show?.director }}</h6>
    <h6>Relase date : {{ show?.releaseDate }}</h6>
    <h6>Category: {{ show?.movieCategory }}</h6>
    <h6>Description: {{ show?.description }}</h6>

    <br />
  </div>
  <br />
</div>
<br />
<br />
<div class="container" *ngIf="this.show1" style="position: relative;">
  <button
    style="position: fixed; z-index:1; bottom: 55px;
    left: 0px;   "
    *ngIf="this.show1"
    class="btn btn-primary btn-sm"
    (click)="changeStatusOfPage()"
  >
    Go back to vidoe page
  </button>
  <br />
  <br />
  <iframe
    style="position: fixed; top:0; left:0; bottom:5; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:0;"
    width="{{ filmWidth }}"
    height="{{ filmHeight }}"
    [src]="createSafeYoutubeUrl(show?.url)"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
