<div class="col">
  <a [routerLink]="['/']" class="btn btn-primary" role="button"
    >Go back to main page</a
  >
  <br />
  <br />

  <h3>{{ show?.title }}</h3>
  <br />
  <iframe
    width="{{ filmWidth }}"
    height="{{ filmHeight }}"
    [src]="createSafeYoutubeUrl(show?.url)"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <br />
  <button
    class="btn-success"
    *ngIf="!show?.favoriteStatus"
    (click)="changeStatusOn(show)"
  >
    Add to favorite
  </button>
  <button
    class="btn-success"
    *ngIf="show?.favoriteStatus"
    (click)="changeStatusOf(show)"
  >
    Remove from favorite
  </button>
  <br />
  <br />
  <h6>Director: {{ show?.director }}</h6>
  <h6>Relase date : {{ show?.releaseDate }}</h6>
  <h6>Category: {{ show?.movieCategory }}</h6>
  <h6>Description: {{ show?.description }}</h6>

  <br />
</div>
<br />
