<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">ChillFlix</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/favoritefilms']"
          >Favorite Films <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/addShow']">Edit Movie</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/addCategory']">Edit Category</a>
      </li>
      <li class="nav-item active dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="javascript:void(0)"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          (click)="toggleDropdown()"
        >
          Categories
        </a>
        <div
          class="dropdown-menu"
          [ngClass]="{ show: showDropdown }"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a
            *ngFor="let item of categories"
            class="dropdown-item"
            href="#{{ item.name }}"
            >{{ item.name }}</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="col">
  <br />
  <app-category [category]="recentlyCategory"></app-category>
  <app-category [category]="mostCategory"></app-category>
  <app-category [category]="likedCategory"></app-category>
  <app-category
    *ngFor="let item of categories"
    [category]="item"
    id="{{ item.name }}"
  ></app-category>
  <br />

  <!-- <p>  (categoryEmitter)="loadCategories($event)"</p> -->
</div>
