<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-danger" [routerLink]="['/']">ChillFlix</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a
          class="nav-link text-info"
          href="javascript:void(0)"
          (click)="this.catShowCat()"
          >Add Category <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a
          class="nav-link text-info"
          href="javascript:void(0)"
          (click)="this.cateditCat()"
          >Edit Category</a
        >
      </li>
      <li class="nav-item active">
        <a
          class="nav-link text-info"
          href="javascript:void(0)"
          (click)="this.catDeleteCat()"
          >Delete Category</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="col" *ngIf="this.addCategory">
  <h2>Add Category</h2>
  <div class="container">
    <form [formGroup]="addForm" (submit)="onFormSubmit()">
      <div class="form-group">
        <label>Category Name*</label>
        <input
          placeholder="Category Name"
          class="form-control"
          type="text"
          formControlName="CategoryName"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="addForm?.invalid"
      >
        Submit
      </button>
      <br />
      <br />
      <div class="row" *ngIf="showMs" style="text-align: center">
        <div class="col-xs-12" style="display:inline-block ">
          <p class="alert alert-success">
            <strong>Your modification has been applied successfully!</strong>
          </p>

          <button class="btn btn-primary btn-sm" (click)="showMessage()">
            close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="col" *ngIf="this.editCategory">
  <h2>Edit Category</h2>
  <div class="container">
    <form [formGroup]="editForm" (submit)="onFormSubmit1()">
      <div class="form-group">
        <label>New Category Name*</label>
        <input
          placeholder="Category Name"
          class="form-control"
          type="text"
          formControlName="editCategoryName"
        />
      </div>
      <div class="form-group">
        <label>Old category name*</label>
        <select formControlName="CategoryID" class="form-control">
          <option *ngFor="let cat of categories" [ngValue]="cat.id">{{
            cat.name
          }}</option>
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="editForm?.invalid"
      >
        Submit
      </button>
      <br />
      <br />
      <div class="row" *ngIf="showMs1" style="text-align: center">
        <div class="col-xs-12" style="display:inline-block ">
          <p class="alert alert-success">
            <strong>Your modification has been applied successfully!</strong>
          </p>

          <button class="btn btn-primary btn-sm" (click)="showMessage1()">
            close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="col" *ngIf="this.deleteCategory">
  <h2>Delete Category</h2>
  <div class="container">
    <form [formGroup]="deleteForm" (submit)="onFormSubmit2()">
      <div class="form-group">
        <label>Category name*</label>
        <select formControlName="CategoryID" class="form-control">
          <option *ngFor="let cat of categories" [ngValue]="cat.id">{{
            cat.name
          }}</option>
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="deleteForm?.invalid"
      >
        Submit
      </button>
      <br />
      <br />
      <div class="row" *ngIf="showMs2" style="text-align: center">
        <div class="col-xs-12" style="display:inline-block ">
          <p class="alert alert-success">
            <strong>Your modification has been applied successfully!</strong>
          </p>

          <button class="btn btn-primary btn-sm" (click)="showMessage2()">
            close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
