<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<div class="container">
  <div class="row">{{ series }}</div>
  <div class="row">
    <div class="col">
      <iframe
        width="{{ movieW }}"
        height="{{ movieH }}"
        src="https://www.youtube.com/embed/HhesaQXLuRY"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col">
      <iframe
        width="{{ movieW }}"
        height="{{ movieH }}"
        src="https://www.youtube.com/embed/f5av6OqFwz0"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col">
      <iframe
        width="{{ movieW }}"
        height="{{ movieH }}"
        src="https://www.youtube.com/embed/u8xPrsdmOIU"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="row">{{ film }}</div>
  <div class="row">
    <div class="col">
      <iframe
        width="{{ movieW }}"
        height="{{ movieH }}"
        src="https://www.youtube.com/embed/uC-_Gon2p9M"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <div class="col">
      <iframe
        width="{{ movieW }}"
        height="{{ movieH }}"
        src="https://www.youtube.com/embed/DpXYe_y686M"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <div class="col">
      <iframe
        width="{{ movieW }}"
        height="{{ movieH }}"
        src="https://www.youtube.com/embed/JAHKQPBKSZ8"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
