<h2>Add movie</h2>
<div class="container">
  <form [formGroup]="newForm" (submit)="onFormSubmit()">
    <div class="form-group">
      <label>Title*</label>
      <input
        placeholder="title"
        class="form-control"
        type="text"
        formControlName="title"
      />
    </div>
    <div class="form-group">
      <label>ReleaseDate*</label>
      <input
        placeholder="releaseDate"
        class="form-control"
        type="text"
        formControlName="releaseDate"
      />
    </div>
    <div class="form-group">
      <label>Url</label>
      <input
        placeholder="url"
        class="form-control"
        type="text"
        formControlName="url"
      />
    </div>
    <div class="form-group">
      <label>Director</label>
      <input
        placeholder="director"
        class="form-control"
        type="text"
        formControlName="director"
      />
    </div>
    <div class="form-group">
      <label>Description</label>
      <input
        placeholder="description"
        class="form-control"
        type="text"
        formControlName="description"
      />
    </div>
    <div class="form-group">
      <label>Movie category</label>
      <select formControlName="movieCategory" class="form-control">
        <option *ngFor="let cat of categories" [ngValue]="cat.name">{{
          cat.name
        }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="newForm?.invalid">
      Submit
    </button>
  </form>
</div>
<hr />
<br />
<br />
<h2>Edit movie</h2>
<div class="container">
  <form [formGroup]="newForm1" (submit)="onFormSubmit1()">
    <div class="form-group">
      <label>Select movie</label>
      <select formControlName="movieId" class="form-control">
        <option *ngFor="let show of shows" [ngValue]="show.id">{{
          show.title + '/ ' + show.movieCategory
        }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Title*</label>
      <input
        placeholder="title"
        class="form-control"
        type="text"
        formControlName="title"
      />
    </div>
    <div class="form-group">
      <label>ReleaseDate*</label>
      <input
        placeholder="releaseDate"
        class="form-control"
        type="text"
        formControlName="releaseDate"
      />
    </div>
    <div class="form-group">
      <label>Url</label>
      <input
        placeholder="url"
        class="form-control"
        type="text"
        formControlName="url"
      />
    </div>
    <div class="form-group">
      <label>Director</label>
      <input
        placeholder="director"
        class="form-control"
        type="text"
        formControlName="director"
      />
    </div>
    <div class="form-group">
      <label>Description</label>
      <input
        placeholder="description"
        class="form-control"
        type="text"
        formControlName="description"
      />
    </div>
    <div class="form-group">
      <label>Movie category</label>
      <select formControlName="movieCategory" class="form-control">
        <option *ngFor="let cat of categories" [ngValue]="cat.name">{{
          cat.name
        }}</option>
      </select>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="newForm1?.invalid"
    >
      Submit
    </button>
  </form>
</div>
<hr />
<h2>Delete movie</h2>
<div class="container">
  <form [formGroup]="newForm2" (submit)="onFormSubmit2()">
    <div class="form-group">
      <label>Select movie</label>
      <select formControlName="movieId" class="form-control">
        <option *ngFor="let show of shows" [ngValue]="show.id">{{
          show.title + '/ ' + show.movieCategory
        }}</option>
      </select>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="newForm2?.invalid"
    >
      Submit
    </button>
  </form>
</div>
