<br />
<div class="col">
  <h6>{{ show.title }}</h6>
  <span
    *ngIf="show.favoriteStatus && this.router.url !== '/favoritefilms'"
    style="color:gold;"
    >&#9733;</span
  >
  <br />
  <img
    (click)="onSlect(show)"
    src="http://img.youtube.com/vi/{{ show.url }}/0.jpg"
    width="200"
    height="150"
  />

  <div *ngIf="router.url === '/favoritefilms'">
    <br />
    <button
      class="p-3 mb-2 bg-danger text-white"
      *ngIf="show?.favoriteStatus"
      (click)="changeStatusOf(show)"
    >
      <i class="glyphicon glyphicon-star-empty">Remove</i>
    </button>
    <br />
  </div>
</div>
