<br />

<div class="col">
  <h6>{{ show.title }}</h6>
  <span
    *ngIf="show.favoriteStatus && this.router.url !== '/favoritefilms'"
    style="color:gold;"
    >&#9733;</span
  >
  <br />
  <img
    (click)="onSlect(show); timeCounterFunction(show)"
    src="http://img.youtube.com/vi/{{ show.url }}/0.jpg"
    width="200"
    height="150"
  />
</div>
<br />

<br />
<div *ngIf="router.url === '/favoritefilms'">
  <br />
  <button
    class="btn-success"
    *ngIf="show.favoriteStatus"
    (click)="changeStatusOf(show)"
  >
    Remove from favorite
  </button>
  <br />
</div>
